doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(type="text/javascript", src="/js/vendor/socket.io.js")
    script(type="text/javascript", src="/js/vendor/moment.min.js")
    script(type="text/javascript", src="/js/vendor/typeface-0.15.js")
    script(type="text/javascript", src="/js/vendor/roboto_light.typeface.js")
    script(type="text/javascript", src="/js/three/three_77_custom.js")
    script(type="text/javascript", src="/js/three/Projector.js")
    script(type="text/javascript", src="/js/three/SkyShader.js")
    script(type="text/javascript", src="/js/three/threex.grassground.js")
    script(type="text/javascript", src="/js/three/Label.js")
    script(type="text/javascript", src="/js/classes/controls.js")
    script(type="text/javascript", src="/js/classes/world.js")
    script(type="text/javascript", src="/js/classes/player.js")
    script(type="text/javascript", src="/js/classes/playerList.js")
    script(type="text/javascript", src="/js/classes/message.js")
    script(type="text/javascript", src="/js/classes/messageList.js")
    script(type="text/javascript", src="/js/main.js")
  body
  
    #blocker
        #instructions
            #newPlayer
                h2 Enter your name to join
                input#txtName(type='text' value='' placeholder='Your name')
                input#btnSendName(type='button' value='OK')
            #startGame
                h2 Click the button below to start
                p You can pause at any time by pressing the <i>esc</i> key
                input#btnStart(type='button' value='Play')
            #about
                p Created by 
                    a(href='http://godiagonal.com/' target='_blank') Samuel Johansson
                p
                    a(href='https://github.com/godiagonal/multiplayer-3d' target='_blank'): img(src='/img/github.png')
    
    #chat
        #messages
            #messagesInner
                table#messageList
        #input
            input#txtMessage(type='text' maxlength='200')